<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Training and placement cell</title>

</head>
<body background="{% static '111.jpg' %}">

<h2><b><center><font color="white">TRAINING AND PLACEMENT CELL</font></center></b></h2>
<center><img src="{% static 'training.jpg' %}" width="500px" height="300px"></center>
<p><font color="white">
<h2><U>CO-ORDINATORS</U></h2>
<ul>
	<li>MAHESH</li>
	<li>PRASANTH</li>
</ul><br><br>
<h2><U>CONTACT  &nbsp DEATAILS</U></h2>
<ul>
	<li>Mobile No. : 9065690321</li>
	<li>Email Id   :aakashskumar198765@gmail.com</li>
</ul>
<br><br>
<p>
	<h2><U>ABOUT TRAINING AND PLACEMENT CELL </U></h2>
	<ul><h2>Developing the students to meet the Industries recruitment process
<li>To motivate students to develop Technical knowledge and soft skills in terms of career planning, goal setting.</li><li>
To motivate students aspire for higher studies and guiding them to take competitive exams such as CAT, GATE, TOEFL, GRE, IES,UPSC,TNPSC etc.,</li><li>
Aiming to Place the maximum number of students through campus & off-campus interviews conducted by the top companies.</li></h2>
</ul></p>
</font></p>

</body>
</html>
